body {
    background-color:#090C1C;
}

.calculator {
    display: flex;
    justify-content: center;
    margin: 55px;
}

.calculator-content {
    background-color: white;
    height: 385px;
    width: 500px;
    border-radius: 15px;
    display: block;
    text-align: center;
}


.inputs {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.inputs input {
    width: 100px;
}